body {
    background-image: url("images/background.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
}

/* MENU */
#menu {
    width: 880px;
	margin-right: auto;
	margin-left: auto;
}

#menu ul {
    padding:0;
    margin:0;
    list-style-type:none;
    overflow:hidden;
    background-color: #66C1F0;
    opacity:0.8;
}

#menu li {
    float:left;
    margin-left: 7%;
    font-size: 20px;
}
#menu ul li a {
    display:block;
    color: #FFFFFF;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
#menu ul li a:hover {
    background-color:#D3D3D3;
    opacity:0.9;
    color: #FF0000;
    font-style: oblique;
    border-color: #727776 #E3EBE9 #E3EBE9 #727776;
}

/* CONTENU */
#contenu {
    width: 880px;
    margin-top:2%;
    margin-right: auto;
	margin-left: auto;
    border:1px solid #D3D3D3;
    background-color: rgba(255,255,255,0.6);
}

#contenu a {
    text-decoration: none;
    color:#FFFFFF;
}

#contenu #image{
    display:inline-block;
    width:30%;
    height:25%;
    margin-right: 5%;
}

#contenu aside {
    float:right;
    width:19%;
    margin-top:2%;
    border: 1px solid;
    margin-right:5%;
}
div .marge {
    margin-left:2%;
}

figure {
    width:100%;
    height:100%;
    overflow:hidden;
}

figure:hover figcaption {
    top: -95px;
}

figcaption {
    position:relative;
    top:-60px;
    background: rgba(211,211,211, 0.4);
    color: #FFFFFF;
    -webkit-transition: top 0.8s;
    -moz-transition: top 0.8s;
    -ms-transition: top 0.8s;
    -o-transition: top 0.8s;
    transition: top 0.8s;
}

p {
    font-size:15px;
}

img {
    width: 100%;
	height: 100%;
}
