body {

}

/* MENU */
#menu {
    width: 880px;
	margin-right: auto;
	margin-left: auto;
}

#menu ul {
    padding:0;
    margin:0;
    list-style-type:none;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #7CD6FD, #66C1F0);
    opacity:0.8;
}

#menu li {
    float:left;
    margin-left: 4%;
    font-size: 20px;
}
#menu ul li a {
    display:block;
    color: #FFFFFF;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-family:"Lucida Console", Monaco, monospace;
}
#menu ul li a:hover {
    background-color:#D3D3D3;
    opacity:0.9;
    color: #FF0000;
    font-style:oblique;
    font-size: 22px;
    transition: 0.6s;
}

/* ASIDE */
aside {
    position:fixed;
    float:right;
    width:250px;
    top: 100px;
    left: 1200px;
}
div .marge {
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%;
}

.police {
    font-family:"Bradley Hand", cursive;
    color:#777;
    text-align: justify;
}

.title {
    display:block;
    background-image: linear-gradient(to right, #7CD6FD, #3C738A);
    text-align: center;
    font-family:"Lucida Console", Monaco, monospace;
    color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 100px;
}

.forme {
    font-family:"Courier New", Courier, monospace;
}

.champ {
    border-radius:10px;
    box-shadow: 5px 5px 5px #DDD;
}

.submit {
    font-size:16px;
    margin-top:10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #85A2CE, #4F617B);
    box-shadow: 5px 5px 5px #DDD;
    width:75%;
    font-family:"Lucida Console", Monaco, monospace;
    color: #FFFFFF;
    margin-left: 10%;
}

.noDecoration {
    text-decoration:none;
}
